<nav class="nav-menu">
  <div class="nav-container">
    <a routerLink="/mapas" routerLinkActive="active" class="nav-link">Mapas</a>
    <a routerLink="/loteamentos" routerLinkActive="active" class="nav-link">Loteamentos</a>
    <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">Usuários</a>
    <a routerLink="/relatorios-financeiros" routerLinkActive="active" class="nav-link">Relatórios</a>
    <a routerLink="/vendas" routerLinkActive="active" class="nav-link">Vendas</a>
    <a routerLink="/configuracoes" routerLinkActive="active" class="nav-link">Configurações</a>
  </div>
</nav>